a {
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  display: inline-block;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: rgb(219, 16, 152);
}

ul {
  list-style-type: none;
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
 background: none;
}


a:active {
  color: rgb(169, 156, 241);
}


div a {
  text-decoration: none;
  position: relative;
  top: 20px; /* ajustez cette valeur pour déplacer le contenu vers le haut ou le bas */
  left: 49%;
  font-family: 'Lobster', cursive;
  transform: translateX(-50%);
  font-size: 1rem;
  color: rgb(21, 189, 231);
}

div a:hover {
  color: rgb(175, 115, 2);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 33%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
}




/*
.background-image a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

*/
