a {
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  display: inline-block;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: rgb(43, 17, 158);
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
 background: rgb(255, 102, 0);
}

a:hover {
 background: orange;
}

a:active {
  background: red;
  color: rgb(169, 156, 241);
}

div {
  position: relative;
}

div a {
  position: absolute;
  top: 20px; /* ajustez cette valeur pour déplacer le contenu vers le haut ou le bas */
  left: 50%;
  font-family: 'Lobster', cursive;
  transform: translateX(-50%);
  font-size: 2rem;
  color: rgb(52, 15, 185);
}



/*
.background-image a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

*/
