body {
  position: relative;
  height: 100vh;
  background-image: url('../src/assets/images/pexels-aleksandar-pasaric-325185.jpg');
  background-size: cover;
  background-position: center center;

}

