body {
  position: relative;
  height: 100vh;
  background-image: url('../src/assets/images/420e2965b81fa19718792de0cc0d86d42.jpg');
  background-size: cover;
  background-position: center center;
}

